<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Estilos Musicais</title>
</head>
<body>
    
    <h1>{% if estilos %} Editar Estilo Musical
        {% else %} Cadastrar Estilo Musical 
        {% endif %}</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="nome">Nome do Estilo</label>
        <input type="text" name="nome" id="ID_nome" value="{% if estilos %}{{ estilos.nome }}{% endif %}">

        <input type="submit" value="Enviar">

        <a href="{% url 'listar_estilos' %}">Voltar para a lista</a>
    </form>

</body>
</html>